body {
  font-size: 16px;
  color:black;
  font-family:cursive; 
}
/*START HEADER*/
#header-nav{
	background-color: #999999;
	border-radius: 0;
	border:0;
	border-bottom: solid 3px black;
	

}


#header-nav a:hover{
	text-decoration: none;


}
#navheaderid{
	
	height: 15vh;
}

.navbar-header a h1 { 
  font-family: cursive;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  color: black;
  margin-top: 10px;
}
.navbar-header button.navbar-toggle {
width:50px;
border:2px solid;
border-color: black;
margin-top: 20px;
margin-right: 30px;
padding-left: 8px;
padding-top: 0px;
padding-left: 5px;
padding-bottom: 0px;
height: 50px;
}
.navbar-header span.icon-bar   {
border:3px solid;
border-color: black;
margin:8px 0px 7px 0px;
width:35px;

}
#nav-list ul{
margin: 0px;
padding: 0px;
}
#nav-list a{
	border: solid 2px black;
	color : black;
	text-align: center;
	font-size: 1.6em;
	line-height: 30px;
	font-weight: bold;
	clear: both;
	position: relative;
}

#nav-list a:hover{
	background-color: black;
	color: white;

}


/*End Header*/
#home-add {
margin-bottom: 30px;
position: relative;}
/*Start HOMEPAGE*/

#main-content h3{
	margin-top:0px;
	font-weight: bold;

}
#meal{
	border-radius: 10px;
	padding: 13px 15px 15px 15px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #999999;
position: relative;
}

@media (max-width: 767px){
	#collapsed-menu{
	border-style: none;
	border-radius: 0px;
	background-color: white;
}
}
/*END HOMEPAGE*/


